*{
	padding:0; margin:0;
}


body {
    font-family: Arial;
    background: #f1f1f1;
}
/* Header */
header{
	background: #000000;
	padding: 0px 10px;
	margin-bottom: 0;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
header a{
	color: #dddddd;
	text-decoration: none;
}
header img{
	float: left;
}
header h1{
	margin-top:20px;
	margin-left:0px;
	margin-bottom: 0px;
	font-family: 'Righteous', cursive;
}


h2{
    font-family: Tahoma;
    border-left: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    padding: 10px;
}
 
h5{
    margin-left: 10px;
    color: #666;
    padding: 0px;
}


.nav{
	margin-top: 0;
    text-align: right;
    padding: 0px;
    cursor: pointer;

}

.nav ul{
    list-style: none;
    text-align: right;
    display: inline-table;
    padding: 0px;
    font-family: 'Raleway', Sans-serif;
    font-size: 14px;
}

.nav ul li{
    float: left;
    text-align: center;
    padding: 0px;
    width: 170px;
}

.nav ul li a{
    display: block;
    text-align: center;
    color: #787278;
    text-decoration: none;
}
.nav ul li a:hover{
    color:#ffe6ff;
    
}

.nav ul li{
    position: relative;

}
  
.show {
    display: block;
    margin-top: 45px;
}

.content {   
    float: center;
    width: 75%;
    padding-top: 10px;
    margin-left: 12%;
    margin-right: 10%;
    
}

.card {
     background-color: white;
     padding: 10px;
     margin-top: 15px;
}


.info{

    margin-top : 10px;
    margin-bottom: 10px;
    border: 5px solid #d1d1d1;
    width:500px;
    padding:10px;
}
input, textarea{
    padding:10px;
    border:3px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
}
.comment-author {
    margin-left: 10px;
    font-family: Lucida Sans;
    font-size: 14px;
    padding-bottom: 0px;
    letter-spacing: 3px;
    font-weight:bold;
    
}

.comment-email{
    margin-left: 15px;
    margin-top: 0px;
    font-family: courier new;
    font-size: 10px;
    color:gray;
    font-weight:bold;
}

.comment{
    margin-left: 10px;
    font-family: Lucida sans;
    color:black;
    font-size: 14px;
}

.comment-border{
    margin-top : 10px;
    margin-bottom: 10px;
    border: 2px solid #c4c4c4;
    border-top-color: #e4e4e4;
    border-left-color: #e4e4e4;
    background: #fcfcfc;
    border-radius: 2px;
    margin-bottom: 20px;
    width:500px;
    padding:4px;
}

.cardd {
    background-color: white;
    padding: 10px;
    margin-top: 0px;
}

.footer {

    padding: 10px;
    width: 25%;
    text-align: center;
    background: white;
    margin-top: 20px;
    float: left;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.lastrow{
    padding: 5px;
    margin-top: 3px;
    text-align: left;
    background: #000000;
    
}

.video, .picture{
    text-align: center;
}

#more {
    display: none;

}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px 16px;
    float: left;
    font-family: 'Raleway', Sans-serif;
    border: none;
    cursor: pointer;
    width: 150px;
    
}
  
.dropbtn:hover, .dropbtn:focus {
    color:black;
    background-color:#d1d1d1;
    padding: 14px 16px;
    width: 150px;
    
}
  
.dropdown {
    position: relative;
    display: inline-block;
    
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 12px;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    color:black;
    background-color:#d1d1d1;
}

p{
	font-family: 'Voltaire';
	color: #000000;
}